html{
  font-size: 14px;
}
body {
  margin: 0;
  color: #444;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

* {
    box-sizing: border-box;
}

a{
    color: #888;
}
.flex-wide{
    flex: 1;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
    overflow-y: hidden;
}
.nav{
    border-right: 1px solid #ccc;
}
.nav-top{
    height: calc(2rem + 1px);
    display: flex;
    border-bottom: 1px solid #CCC;
}
.nav-list{
    height: calc(100vh - 2rem);
    overflow-y: scroll;
    position: relative;
}
.nav-item{
    padding: 0.1rem 0.5rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.nav-item.is-selected{
    background-color: #ddd;
}
.nav-doc-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}
.nav-doc-caret{
    margin-left: -1rem;
}
.nav-doc-module{
    padding-left: 1rem;
}
.nav-doc-package{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
}
.nav-doc-version{
    color: #ccc;
}
.nav-doc-version-action{
    display: none;
}
.nav-packages-doc-item:hover .nav-doc-version-str,
.nav-doc-version:hover .nav-doc-version-str {
    display: none;
}
.nav-packages-doc-item:hover .nav-doc-version-action,
.nav-doc-version:hover .nav-doc-version-action{
    display: inline;
}
.nav-doc-version-remove-confirm{
    padding-left: 0.3rem;
}
.confirm-danger.confirm-danger{
    color: red;
}


.nav-packages-disabled-handle{
    color: #888;
    padding-left: 0;
    display: flex;
    align-items:  center;
    fill: #888;
    cursor: pointer;
}
.nav-result-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-result-path{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-result-doc{
    color: #888;
    font-size: 0.8rem;
}
.nav-package-search{
    padding: 0.1rem;
    height: 2rem;
    display: flex;
}
.search-package-input{
    width: 100%;
    margin: 0.1rem;
    border: 1px solid #ccc;
    padding: 0 0.3rem;
    border-radius: 3px;
}
.nav-packages-doc-item{
    color: #888;
    padding-left: 0.5rem;
    fill: #888;
}
.nav-packages-doc-other-version{
    padding-left: 1.5rem;
}

.module-link{
    cursor: pointer;
}
.doc{
    flex:1;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.doc-content{
    flex: 1;
    height: calc(100vh - 1rem);
    overflow: auto;
    padding:1.5rem;
}
.doc-content > *:last-child{
    margin-bottom: 10rem;
}
.search-input{
    width: calc(100% - 0.2rem);
    margin: 0.2rem;
    border: 1px solid #ccc;
    padding: 0 0.3rem;
    border-radius: 3px;
}
.doc-title{
    margin: 0;
    width: 100%;
    font-size: 1rem;
    padding: 0 1.5rem;
    line-height: 2rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.doc-title-latest{
    font-weight: normal;;
    margin-left: 0.5rem;
}
.module-doc-built-with-version {
    color: #888;
    float: right;
    font-size: 0.8rem;
    line-height: 2rem;
}

.module-doc-comment h1{
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.doc-overview{
    display: flex;
}

.doc-overview-readme{
    max-width: 55rem;
}

.doc-overview-modules{
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 3.5rem;
    min-width: 10rem;
    border-left: 1px solid #ccc;
}

.module-doc-comment pre,
.doc-overview pre{
    border: 1px solid #ccc;
    background: #EFF;
    padding: 1rem;
    overflow: auto;
    border-radius: 3px;
}

.module-doc-comment code,
.doc-overview code{
    font-family: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.8rem;
    background-color: #EFF;
    display: inline-block;
    padding:0 0.2rem;
}

.entry{
    padding: 0.5rem 1.5rem;
}

    .entry h3{
        font-weight: normal;
        font-family: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
        margin: 0.5rem 0;
    }
    .entry .entry-name{
        font-weight: bold;
    }
    .entry .indent{
        padding-left: 2rem;
    }
    .entry-comment{
        margin-left: 1.5rem;
    }

.doc-empty-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 5rem;
    color: #DDD;
    position: relative;
}

.doc-info{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #CCC;
    font-size: 0.8rem;
}

.icon, .icon svg{
    height: 1rem;
}
.no-icon{
    width: 1rem;
}

.btn-link-icon svg{
    height: 0.8rem;
    margin-left: 0.3rem;
    vertical-align: middle;
}

.btn-link{
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: #888;
    fill: #888;
}
.btn-link + .btn-link{
    margin-left: 0.5rem;
}

.nav-drag-handle{
    position: absolute;
    width: 0.5rem;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: col-resize;
    display:flex;
    align-items: center;
}
.nav-drag-handle:after{
    content: '';
    display: block;
    height: 5rem;
    width: 0.3rem;
    border-right: 1px solid #ccc;
}
.browse-source{
    font-weight: normal;
}
.btn-pill{
    display: inline-block;
    padding: 0 0.3rem;
    margin-left: 0.1rem;
    font-size: 0.8rem;
}
.btn-pill.is-selected{
    color: #EEE;
    background-color: #888;
    border-radius: 6px;
}
.doc-disabled-info{
    border: 1px solid #888;
    padding: 1rem;
    border-radius: 3px;
}
.value-type{
    white-space: pre-wrap;
}
